:root {
  all: unset;
  font-family: "Caveat Brush";
  --default-background-color: #cfdfff;
  --panel-background-color: #3498db;
  --border-radius-panels: 40px;
  --border-color: #000000;
  --outline-color: #ffffff;
  background-color: var(--default-background-color);
  --font-color: #ffffff;
}

.panel-styling {
  /* Sets up the panel styling apart from the fonts */
  background-color: var(--panel-background-color);
  margin: 30px 15px;
  border-style: solid;
  border-width: 4px;
  border-radius: var(--border-radius-panels);
  border-color: var(--border-color);
  outline-style: solid;
  outline-width: 8px;
  outline-color: var(--outline-color);
}

.panel-font-styling {
  /* Sets up panel font styling */
  color: var(--font-color);
  font-style: italic;
  -webkit-text-stroke: 4px black;
}

.title {
  text-align: center;
}

.title__text {
  font-weight: 900;
  font-size: 64pt;
}

.controls {
  display: flex;
  flex: row nowrap;
  justify-content: space-around;
  margin: 30px auto;
}

.controls__button {
  border: none;
  transition-timing-function: ease-in-out;
  transition-property: transform;
  transition-duration: 0.31s;
  margin: 20px auto;
}

.controls__button:hover {
  transform: translateY(-25px);
}

.controls__button__image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  pointer-events: none;
  margin: 3px;
  box-shadow: 0px 0px 5px 2px #cfffff;
}

.result-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-shrink: 1;
  text-align: center;
  font-weight: 900;
  font-size: 64pt;
  gap: 10px;
}

.result-bar__score {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  flex-basis: 38%;
  flex-shrink: 1;
}

.result-bar__score__text,
.score-counter {
  padding-left: 0.3em;
}

.result-bar__round {
  flex-basis: 52%;
  flex-shrink: 1;
}

#round-text {
  font-size: 48pt;
}

/* Game outcome-specific classes applied when either score hits the threshold */

.win {
  stroke: rgba(0, 255, 0, 0.25);
}

.loss {
  stroke: rgba(255, 0, 0, 0.25);
}

.draw {
  stroke: rgba(0, 112, 120, 0.2);
}

.text-hidden {
  visibility: hidden;
}

.score__counter {
  margin: 50px auto 50px;
}

/* Footer setup */

.endgame-message-dialog {
  transform: translateY(-999px);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  display: flex;
  flex-flow: column wrap;
  align-items: center;

  padding: 15px 15px;

  font-style: normal;
}

.endgame-message-dialog__text {
  font-weight: normal;
  font-size: 56pt;
}

.endgame-message-dialog__visible {
  transform: translateY(0px);
}

/* Footer button setup */

.endgame-buttons {
  display: flex;
  flex-flow: row nowrap;
}

.endgame-message-dialog__button {
  all: unset;

  width: 500px;
  margin: 0px 10px;
  height: 1.2em;

  background-color: #f1baf5;
  border-radius: 12px;
  border: solid 3px white;
  box-shadow: 0px 3px 3px 1px black;

  font-size: 48pt;
  text-align: center;

  transition-timing-function: ease-in-out;
  transition-property: transform;
  transition-duration: 0.12s;
}

.endgame-message-dialog__button:hover {
  transform: translateY(-3px);
}
