:root {
  all: unset;
  font-family: "Dosis";
  --font-color: #94a7b0;
  --default-background-color: #fafafa;
  --border-radius-panels: 25px;
  --accent-color: #00BCD4;
  background-color: var(--default-background-color);
}

.title {
  background-color: #546e7a;
  border-radius: var(--border-radius-panels);
  border-color: #e7e7e8;
  border-style: solid;
  text-align: center;
  margin: 40px auto;
}

.title__span {
  font-weight: 700;
  font-size: 48pt;
  color: var(--font-color);
}

.controls {
  display: flex;
  flex: row nowrap;
  justify-content: space-evenly;
}

.controls__button {
  border: none;
}

.controls__button__image {
  width: 270px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  transition: box-shadow 0.1s ease-in-out;
}

.controls__button__image:hover {
  box-shadow: 0px 0px 5px 2px #e7e7e8;
}

.result-bar {
  border-radius: var(--border-radius-panels);
  margin: 40px auto;
  text-align: center;
  background-color: #546e7a;
  font-weight: 700;
  font-size: 48pt;
  color: var(--font-color);
}

.win {
  box-shadow: 0px 0px 3px 1px #91b859;
}

.loss {
  box-shadow: 0px 0px 3px 1px #e53935;
}

.draw {
  box-shadow: 0px 0px 3px 1px #7c4dff;
}

.text-hidden {
  visibility: hidden;
}

.score__counter {
  margin: 50px auto 50px;
}
